////
/// @group vue-Menu
/// @author dealenx
////

.site-menu {
  position: fixed;
  // min-height: 100vh;
  height: 100vh;
  width: 100%;
  background: #333;
  left: 0;
  top: 0;
  z-index: 2;

  min-height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-height: 520px) {
    overflow-y: scroll;
    min-height: 100%;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("~@/assets/img/site-menu/bg.jpg");
    background-size: cover;
    position: fixed;
    z-index: 1;
    opacity: 0.76;
  }

  @media (prefers-color-scheme: dark) {
    background: #0e0e0e;

    &::after {
      opacity: 0.26;
    }
  }

  &__close {
    position: fixed;
    right: 63.03px;
    top: 28.03px;
    z-index: 4;

    @include breakpoint(900px, max) {
      position: relative;
      right: 0px;
      top: 0px;
      background: #333;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 88px 1fr 88px;
    grid-template-areas: "logo title" ". info" ". link";

    background: var(--main-bg-color);
    position: relative;
    width: 760px;
    height: calc(100% - 16px);
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding-right: 15%;
    z-index: 3;

    @media (max-height: 520px) {
      height: auto;
    }

    @include breakpoint(900px, max) {
      grid-template-areas: "logo title" "info info" "link link";
      grid-template-columns: 60px 1fr;

      width: calc(100% - 16px);
      box-sizing: border-box;
      padding-left: 26px;
      padding-right: 26px;
    }
  }

  &__phone-number {
    @include p-18;
    font-weight: 500;
    margin-top: 32px;
  }

  &__logo {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 56px;
    margin-top: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #ff3a62;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);

    @include breakpoint(900px, max) {
      margin-left: 0px;
    }
  }

  &__title {
    grid-area: title;

    color: #7d7d7d;
    height: 88px;
    @include p-14;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-top: 24px;
    }
  }

  &__link {
    grid-area: link;
    display: flex;
    flex-direction: row;
    height: 48px;
  }

  &__link-button {
    @include p-16;
    font-weight: 500;
    color: #3e29e3;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include breakpoint(900px, max) {
      margin-top: 24px;
    }

    i {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        background: url("~@/assets/img/site-menu/link.png");
        width: 14px;
        height: 14px;
      }
    }
    p {
      margin-left: 24px;
    }
  }
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.3s reverse;
}
@keyframes bounce-in {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0%, 0);
  }
}
