////
/// @group vue-UI-Grid
/// @author dealenx
////

.ui-grid {
  @include grid(
    $laptop: var(--default-columns-counts),
    $tablet: var(--tablet-columns-counts),
    $mobile: var(--mobile-columns-counts)
  );
}
