@import "reset.scss";
@import "typography.scss";

html,
body {
  height: 100%;
  width: 100%;
}
/*html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 300ms;
  transition-delay: 0;
}
*/
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg-color) !important;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include p-16;
  color: var(--main-headers-color);
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
/*html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: color ease 1000ms;
  transition-delay: 100ms;
}*/

::selection {
  background-color: var(--selected-bg-color);
  color: var(--selected-text-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
