////
/// @group vue-Home
/// @author dealenx
////

.site-home {
  @include wrap;
  @include grid(12, 8, 4);

  &__sidebar {
    @include grid-col(3, 2);
    margin-top: 168px;
    position: relative;
  }

  &__content {
    @include grid-col(9, 6);
    position: relative;
  }

  @include breakpoint-tablet {
    &__sidebar {
      margin-top: 100px;
    }
  }

  @include breakpoint-mobile {
    grid-template-areas: "content content";
    &__sidebar {
      display: none;
    }
  }

  &__main-info {
    @include grid(9, 6, 4);
    margin-top: 48px;
    margin-bottom: 16px;

    & > * {
      @include grid-col(9, 6, 4);
    }

    h3 {
      margin-top: 16px;
    }
    p {
      @include grid-col(6, 6, 4);
      margin-top: 64px;
    }
  }
}

.site-section {
  @include grid(9, 6, 4);
  margin-top: 80px;

  & > * {
    @include grid-col(9, 6, 4);
  }

  & > h3 {
    margin-top: 48px;
  }

  & > p {
    @include grid-col(6, 6, 4);
    margin-top: 24px;
  }
}

.site-subsection {
  margin-top: 48px;
  @include grid(9, 6, 4);

  & > * {
    @include grid-col(9, 6, 4);
  }
}
.site-subsection.grid {
  img {
    margin-top: 64px;
    max-width: 100%;
    height: auto;
    @include grid-col(9, 6, 4);
  }
}
.grid-info {
  @include grid(9, 6, 4);
  margin-top: 32px;

  .grid-info__item {
    @include grid-col(2, 3, 2);
    p {
      @include p-14;
      color: #7d7d7d;
    }
    span {
      margin-top: 7px;
      @include p-lead;
    }
  }
}

.site-tabs {
  &__nav {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    height: 38px;
    border-bottom: 1px solid #cbcbcc;

    li {
      margin-right: 32px;
      position: relative;

      a {
        color: #7d7d7d;
        font-weight: 500;
      }

      &.active {
        padding-bottom: 14px;

        a {
          color: #1b1b1b;
        }

        &:after {
          left: 0;
          bottom: 0px;
          width: 100%;
          height: 2px;
          position: absolute;
          content: "";
          background: #3e29e3;
        }
      }
    }
  }
}
