////
/// @group vue-Home
/// @author dealenx
////

.site-home {
  @include wrap;
  display: grid;
  grid-template-columns: 312px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar content";

  &__sidebar {
    grid-area: sidebar;
    margin-top: 168px;
  }

  &__content {
    grid-area: content;
  }

  @include breakpoint-tablet {
    grid-template-columns: 230px 1fr;
    &__sidebar {
      margin-top: 100px;
    }
  }

  @include breakpoint-mobile {
    grid-template-areas: "content content";
    &__sidebar {
      display: none;
    }
  }
}

.my-main {
  width: 100%;

  margin-top: 24px;

  div {
    height: 100px;
    color: black;
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddccff;

    &.col-2 {
      grid-column: span 2;
    }
  }

  @media only screen and (max-width: 768px) {
    div {
      color: white;
      background: rgb(46, 46, 46);
    }
  }
}
