////
/// @group vue-Home
/// @author dealenx
////

.site-home {
  @include wrap;
  @include grid(12, 8, 4);

  &__sidebar {
    @include grid-col(3, 2);
    margin-top: 168px;
    position: relative;
  }

  &__content {
    @include grid-col(9, 6);
    position: relative;
  }

  &__footer {
    margin-top: 160px;
    margin-bottom: 48px;
    @include grid-col(12, 8, 4);
    display: flex;
    justify-content: center;
    position: relative;
    @include p-14;
  }

  @include breakpoint-tablet {
    &__sidebar {
      margin-top: 100px;
    }
  }

  @include breakpoint-mobile {
    grid-template-areas: "content content";
    &__sidebar {
      display: none;
    }
  }

  &__main-info {
    @include grid(9, 6, 4);
    margin-top: 48px;
    margin-bottom: 16px;

    & > * {
      @include grid-col(9, 6, 4);
    }

    h3 {
      margin-top: 16px;
    }
    p {
      @include grid-col(6, 6, 4);
      margin-top: 64px;
    }
  }
}

.site-section {
  @include grid(9, 6, 4);
  margin-top: 80px;

  & > * {
    @include grid-col(9, 6, 4);
  }

  & > h3 {
    margin-top: 48px;
  }

  & > p {
    @include grid-col(6, 6, 4);
    margin-top: 24px;
  }
}

.site-subsection {
  margin-top: 48px;
  @include grid(9, 6, 4);

  & > * {
    @include grid-col(9, 6, 4);
  }
}
.site-subsection.grid {
  img {
    margin-top: 64px;
    max-width: 100%;
    height: auto;
    @include grid-col(9, 6, 4);
  }
}
.grid-info {
  @include grid(9, 6, 4);
  margin-top: 32px;

  .grid-info__item {
    @include grid-col(2, 3, 2);
    p {
      @include p-14;
      color: #7d7d7d;
    }
    span {
      margin-top: 7px;
      @include p-lead;
    }
  }
}

.site-tabs {
  &__nav {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    height: 38px;
    border-bottom: 1px solid #cbcbcc;

    li {
      --color: #7d7d7d;
      --display-active-line: none;

      cursor: pointer;
      margin-right: 32px;
      position: relative;
      color: var(--color);
      font-weight: 500;

      &:after {
        display: var(--display-active-line);
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        background: #3e29e3;
      }

      &.active {
        --color: #0e0d0d;
        --display-active-line: block;
      }
    }
  }

  &__content {
    &-row {
      @include grid(9, 6, 4);
    }
  }
}

.site-typography {
  dislay: flex;
  flex-direction: column;

  li {
    @include grid(9, 6, 4);
    margin-top: 48px;
  }
  &__desc {
    @include grid-col(3, 3, 4);
    @include p-14;
    color: #7d7d7d;
  }
  &__example {
    @include grid-col(6, 3, 4);
  }
}

.dev {
  width: 100%;
  height: 200px;
  background: #f6f6f6;
  color: #e0e0e0;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "В разработке";
}
