////
/// @group vue-Sidebar
/// @author dealenx
////

.sidebar-ul {
  display: flex;
  flex-direction: column;

  &.stick {
    margin-top: -140px !important;
    position: fixed;
  }

  li {
    @include p-14;
    margin-bottom: 16px;

    &.active a {
      color: var(--primary-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  a {
    color: #7d7d7d;

    &:hover {
      color: #1b1b1b;
    }
  }
}
