///
/// @author dealenx
/// @param {String} $font-family - Путь к шрифту
/// @param {String} $file-path - Путь к шрифту
/// @param {Any} $weight - Значение weight
/// @param {Any} $style - Значение $style
/// @param {Boolean} $asset-pipeline - При false src: font-url(...), а при true src: url(...)
/// @example scss - Подключение шрифты Graphik-Bold-Web со значениями weight: 700, style: normal
///   @include font-face("Graphik", "../fonts/Graphik/Graphik-Bold-Web", 700, normal);

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: auto;

    @if $asset-pipeline == true {
      src: font-url("#{$file-path}.eot");
      src: font-url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
        font-url("#{$file-path}.woff") format("woff"),
        font-url("#{$file-path}.woff2") format("woff2"),
        font-url("#{$file-path}.ttf") format("truetype");
    } @else {
      src: url("#{$file-path}.eot");
      src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
        url("#{$file-path}.woff") format("woff"),
        url("#{$file-path}.woff2") format("woff2"),
        url("#{$file-path}.ttf") format("truetype");
    }
  }
}
