@mixin grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);

  @include breakpoint($tablet, min) {
    @include breakpoint($laptop, max) {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  @include breakpoint($tablet, max) {
    grid-template-columns: repeat(4, 1fr);
  }
}
