@mixin wrap {
  width: 1072px;

  @include breakpoint($tablet, min) {
    @include breakpoint($laptop, max) {
      width: 672px;
    }
  }

  @include breakpoint($tablet, max) {
    width: 296px;
  }
}
